html{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(144, 18, 247) , rgb(175, 138, 245), rgb(121, 151, 233));
}

footer{
  box-shadow: 0 -2px 4px -2px black;
  position: fixed;
  text-align: center;
  padding: 16px;
  bottom: 0;
  right: 0;
  left: 0;
}

header{
    font-size: 35px;
}

h1{
    text-align: center;
}

h2{
    padding: 30px;
}

h3{
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Courier New', monospace;
}

.navbar{
    float: right;
}

img{
    padding-left: 380px;
    height: auto;
    width: 450px;
}
    
